# Introduction to python

1. Basic arithmetic operations
2. Types
3. Variables
4. Comparaison operators 
5. Strings
6. Functions 
7. Conditions 
8. Boolean expressions
9. Loops 
10. Exeptions
11. Importing libraries 
12. Numpy (if we have time)

###  Basic arithmetic operations

In [2]:
#addition
1 + 3

4

In [3]:
#la puissance
2 ** 2

4

In [4]:
#modulo
10 % 3

1

In [8]:
#division
10 / 3

3.3333333333333335

In [7]:
#floor division
10 // 3

3

In [9]:
# division by zero
10 / 0

ZeroDivisionError: division by zero

#### Mistakes with float data type

In [10]:
#Mistakes with float data type 
0.1 + 0.1 + 0.1

0.30000000000000004

Keep in mind that when working with floats there is always mistakes that needs to be taken care of.

### Types

In [11]:
# integer
type(1)

int

In [12]:
#float
type(3.0)

float

In [13]:
type('walid')

str

In [14]:
#casting int 
int(3.0)

3

In [15]:
type(int(3.0))

int

In [16]:
#casting float
float(1)

1.0

In [17]:
type(float(1))

float

In [18]:
# types of functions, types, type ....
type(type)

type

In [19]:
type(int)

type

In [20]:
type(float)

type

In [21]:
type(print)

builtin_function_or_method

In [22]:
print(1)

1

### Define a variable

In [23]:
# Define a variable a
a = 34
# print a
print(a)

34

In [24]:
# define 3 variables a,b,c 
a,b,c = 1,2,3 
# print the variables
print(a,b,c)

1 2 3

In [26]:
a = 3.40
print(a)

3.4

In [27]:
name = 'walid'
print(name)

walid

In [28]:
ages = [18,30,32]
print(ages)

[18, 30, 32]

In [29]:
type(ages)

list

### Comparaison operators

In [35]:
# Try operators < > >= <= == != 
2 < 2

False

In [36]:
a = 42 
b = 20

a < b

False

### Strings

In [37]:
# Define a string variable called name 
name = 'Walid'
#print the variable 
print(name)

Walid

In [38]:
type(name)

str

In [43]:
#checking characters by indexes 
name[4]

'd'

In [44]:
# Define a string variable called country  = l'Algerie 
country = 'L\'algerie'
#print the variable 
print(country)

L'algerie

In [45]:
#print the length of a string
print(len(country))

9

In [47]:
#Basic concatenation
name + " lives in " + country

"Walid lives in L'algerie"

In [50]:
#Strings functions 
#define a variable named movie 
movie = 'The titAnic moVie'
#title 
print(movie.title())
#lower
print(movie.lower())
#upper 
print(movie.upper())

The Titanic Movie
the titanic movie
THE TITANIC MOVIE

In [53]:
#String formating
#define a variable called name and a variable called age 
name = 'akram'
age = 20 


#print a formatted string : my name is NAME and I am AGE years old
print(f"{name} is {age} years old")

akram is 20 years old

In [54]:
#slicing 
name = 'walid belayachi'

string[start_idx,end_idx,step]

In [64]:
name[::2]

'wldblyci'

### Functions

In [73]:
#function with a return : calculate the area of a square
def calculate_area(x,y):
    # calcualte area
    area = x * y
    return area

In [72]:
# test the function 
area = calculate_area(3,4)
print(area)

12

In [70]:
#function without a return : print_title 
def print_title(movie):
    title = movie.title()
    print(title)

In [71]:
#test the function 
print_title('Star wars')

Star Wars

### Conditions

In [85]:
# create a function that compares two numbers 
x = 10
y = 1

def campare(x,y):    
    if x > y :
        print(f'{x} is bigger than {y}')
    elif x < y:
        print(f'{x} is smaller than {y}')
    else:
        print(f'{x} is equal to {y}')

In [86]:
# test the function 
campare(x,y)

10 is bigger than 1

### Bolean expressions

In [90]:
#and 
print(2 < 4 and 4 > 1)
#or 
print(2 < 4 or 4 == 1)
    
#not
print( not 2 < 4)

True
True
False

In [91]:
not ( 3 > 4) and ( 2 < 1 or 3 > 1)

True

### Loops

In [94]:
# for loop using range 
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [96]:
# while loop 
i = 1 
while i < 11:
    print(i)
    i += 2

1
3
5
7
9

### Exceptions

In [101]:
# division by zero exception
x = 10 
y = 0 

try:
    div = x / y
except Exception as e:
    print(e)
else:
    print('there is no exception')
finally:
    print('whatever')

division by zero
whatever

### Importing libraries

In [102]:
# import pi from math 
from math import pi

In [103]:
# print pi 
print(pi)

3.141592653589793

### Task 1 : 
Write a python function that calculates the number of pair numbers in a list of integers 
- Example : 
    - input : [2,6,7,8,9,10,65,76,6,8] 
    - output: 7

In [106]:
# Task 1 
def pair(l):
    count=0
    for elem in l:
        if elem % 2 == 0:
            print(f'{elem} is pair')
            count=count+1
        else:
            print(f'{elem} is impair')
    return count

list=[1,2,3,4,5,6,7,8,9,10]
count=pair(list)
print('\n')
print(count)

1 is impair
2 is pair
3 is impair
4 is pair
5 is impair
6 is pair
7 is impair
8 is pair
9 is impair
10 is pair


5

In [111]:
def pair_numb(liste):
    nombre = 0
    for elem in liste:
        if(elem % 2 == 0):
            nombre = nombre + 1
    return nombre

In [112]:
listo=[2,6,7,8,9,10,65,76,6,8]
number=pair_numb(listo)
number

7

#### Task 2 
Write a Python program to convert seconds to day, hour, minutes and seconds.
- Example :
    - input : 86399
    - output : day:hour:minutes:seconds-> 14:6:56:5

In [113]:
# Task 2 
def convert(seconds):
    min, sec = divmod(seconds, 60)
    hour, min = divmod(min, 60)
    day, hour = divmod(hour, 24)
    return "%d:%d:%02d:%02d" % (day, hour, min, sec)

print(convert(86399))

0:23:59:59

In [114]:
def format_date(sec):
    days=sec//86400
    hours=(sec-days*86400)//3600
    minutes=(sec-days*86400-hours*3600)//60
    seconds=sec-days*86400-hours*3600-minutes*60
    return f"day:hour:minutes:seconds-> {days}:{hours}:{minutes}:{seconds}"

format_date(86399)

'day:hour:minutes:seconds-> 0:23:59:59'

In [119]:
def to_date(i):
    days = i//86400
    hours = (i - days*86400)//3600
    minutes = (i - days*86400 - hours*3600)//60
    seconds = i - days*86400 - hours*3600 - minutes*60
    return str(days)+":"+str(hours)+":"+str(minutes)+":"+str(seconds)

to_date(8888)

'0:2:28:8'

In [118]:
i = 8888

m = i // 60
s = i % 60

m = (i // 60) % 60
j = ((i // 60)// 60) // 24
h = (i // 60) // 60  % 24 


print (str(i) + " = " + str(j) +"days" + str(h) +"hours" + str(m) + "min "+str(s)+ "s")

8888 = 0days2hours28min 8s

In [120]:
def convert_seconds(sec):
    days = sec // (24 * 3600)
    sec = sec % (24 * 3600)
    hours = sec // 3600
    sec = sec % 3600
    minutes = sec // 60
    sec = sec % 60
    return f"day:hour:minute:second -> {days}:{hours}:{minutes}:{sec}"

sec=86399
result = convert_seconds(sec)
print(result)

day:hour:minute:second -> 0:23:59:59

### Numpy

In [ ]:
#Import the numpy library

In [ ]:
#Creating a numpy array

In [ ]:
# check the array

In [ ]:
# checking the type of the array

### Checking the advantage of working with numpy

In [ ]:
#Creating an array of 100 million random value

In [ ]:
# import time

In [ ]:
# calculating the mean using a for loop

In [ ]:
#calculating the mean using numpy function

In [ ]:
# Create a matrix of zeros

In [ ]:
#creating a matrix of ones

In [ ]:
#Creating a matrix of a constant

In [ ]:
#Create a diagonal matrix

In [ ]:
#Using arange and linspace and the difference between them

In [ ]:
# using linspace

In [ ]:
#Operations with two arrays - create two arrays of same size

In [ ]:
#addition

In [ ]:
#subtraction

In [ ]:
#multiplication

In [ ]:
#Using the max function

In [ ]:
# create a matrix

In [ ]:
#check the matrix

In [ ]:
#Using the min fucntion with the axis attribute

In [ ]:
#using the sum function

In [ ]:
#using the sum function with the axis attribute

In [ ]:
#builtin functions inside of numpy ( cos)

In [ ]:
# sqrt

In [ ]:
#Sorting with and without axis attribute